/* Main Stylesheet */

/*---Overall Styling---*/

body {
	background-color: #E0E0E0;
}

h1, h3 {
	font-family: 'Montserrat', sans-serif;
	/*border: 2px dashed gray;*/
}

hr {
	margin-top: -0.3em;
	width: 200px;
	border: 2px solid #E0E0E0;
}

p {
	font-family: 'Roboto', sans-serif;
}

div[class*="col-"] { /* Grid visualization helper */
	/*border: 3px dashed lightgray;*/
}

textarea {
	resize: vertical;
}

input, textarea{
	padding-left: 0!important;
	color: #5E5E5E;
}

::-webkit-input-placeholder { /* Chrome */
  color: #3F3F3F;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3F3F3F;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3F3F3F;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #3F3F3F;
  opacity: 1;
}

/*---Navigation bar---*/

#nav-bar {
	background-color: #141726;
	height: 52px;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
	z-index: 5;
}

	#nav-bar nav {
		max-width: 970px;
		margin: 0 auto;
	}

	#nav-bar div {
		background-color: #141726;
	}
	
	li>.nav-link {
		transition: 0.5s;
	}

	#nav-bar a {
		font-family: 'Montserrat', sans-serif;
		color: #E0E0E0;
	}
	
			#nav-bar-sections li a:hover {
				color: #141726;
			}

		#nav-button {
			font-size: 30px;
		}

		#dropdown-menu {
			background-color: #141726;
			max-width: 100px;
		}

			#dropdown-menu li a:hover {
				color: #141726;
			}

/*---Site---*/

#page-wrap {
	margin-top: 52px;
	color: #E0E0E0;
	box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.5);
}

#page-wrap>* {
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
	position: relative;
}

/*---About Section---*/

	#about {
		background-color: #333B5E;
		font-family: 'Montserrat', sans-serif;
		z-index: 4;
	}
		#profile-txt {
			margin-top: 0px;
			text-align: center;
		}

		@media (min-width:768px){
			#profile-txt{margin-top: 100px; text-align: right;}
		}

		#profile-img {
			padding: 50px 0 50px 0;
		}

			#profile-img img {
				max-width: 250px;
				height: auto;
				border: 3px solid #E0E0E0;
				border-radius: 50%;
			}

/*---Portfolio Section---*/

	#portfolio {
		background-color: #5E5E5E;
		padding-bottom: 15px;
		z-index: 3;
	}

		.project-wrap {
			padding-top: 5px;
			padding-bottom: 5px;
		}

			.project-description {
				padding-top: 10px;
				text-align: center;
			}

			@media (min-width:768px){
				.project-description{
					padding-top: 0;
					text-align: left;
				}
			}

			.project-img a img {
				max-width: 90%;
				height: auto;
			}

/*---Contact Section---*/

	#contact {
		background-color: #333B5E;
		padding-bottom: 15px;
		z-index: 2;
	}

		#contact-text {
			text-align: center;	
		}

		@media (min-width:768px){
				#contact-text {text-align: left;}
			}

		#social-links {
			font-size: 32px;
		}

			#social-links a:link {color: #E0E0E0;}
			#social-links a:visited {color: #E0E0E0;}
			#social-links a:hover {color: #7385A6;}
			#social-links a:active {color: #E0E0E0;}

		#contact-form {
			/*border: 2px dashed white;*/
		}

		#contact-form form {
			padding: 0 50px 0 50px;
		}

		#contact form>*{
			margin-bottom: 3px;
		}

/*---Footer---*/

	footer {
		padding-top: 3px;
		background-color: #141726;
		z-index: 1;
	}

/*Colors Used

Dark-blue: #141726;
Blue: #333B5E;
Light-blue: #7385A6;
Grey: #5E5E5E;
White: #E0E0E0;

Reference: https://color.adobe.com/cloud/aHR0cHM6Ly9jYy1hcGktYXNzZXRzLmFkb2JlLmlv/library/1b17001c-9506-4de7-8830-d11dd0c4de74/theme/25623e3e-7ceb-41da-8957-00b9d1992e59/;
*/

/*Fonts Used

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

Reference: https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat:700|Roboto:300;
*/